<div class="jumbotron">
  <h1>Metabolism Yeast</h1>
</div>
<div class="container">
  <form #formEnvironments="ngForm" (submit)='getMetabolism()'>
    <!--Metabolism-->

    <label class="col-sm-2">Metabolism </label>
    <div class="col-sm-4" >
      <span *ngFor="let sm of specialMetabolism;let i=index">
        <input type="checkbox"  name="smi" [value]="false"
        [(ngModel)]="objMetabolism.aerobic" 
         (ngModelChange)="fcheckbox()">
        <label> {{sm}} </label>
      </span>
    </div>
    <br>
    <!--Temperature-->
    <label class="col-sm-2">Temperature </label>
    <div class="col-sm-4">
      <b>{{objMetabolism.temperature+'&deg;C' }}</b>
     
    </div>
    <br>
    <!--Nutrition-->
    <label class="col-sm-2">Nutrition*</label>
    <div class="col-sm-4">
      <input type="text" #nutrition="ngModel" name="nutrition" [(ngModel)]="objMetabolism.nutrition" required>
    </div>

     <div class="is-invalid" *ngIf="!nutrition.pristine && 
                nutrition.errors?.required">
      <div class="col-sm-4">
        <span class="text-danger">Please, enter a nutrition</span>
      </div>
    </div>

    <br>
    <br>
    <div class="col-sm-4">
      <input type="submit" [disabled]="!formEnvironments.valid">
    </div>
  </form>

</div>